.app {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  position: relative; /* Add relative positioning */
}

.app.sidebar-open .main-container {
  margin-left: 0px;
  transition: margin-left 0.3s ease-in-out;
}

.app.sidebar-closed .main-container {
  margin-left: -250px;
  transition: margin-left 0.3s ease-in-out;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5px;
}

.background {
  position: absolute;
  z-index: 0; /* Ensure it is behind the other content */
  pointer-events: none; /* Allow clicks to pass through */
}

.sidebar {
  width: 260px;
  transition: transform 0.5s ease-in-out;
}

.header-area {
  flex-shrink: 0;
  width: 80%;
  max-width: 1200px;
  min-width: 1096px; /* Set the minimum width */
  margin: 0 auto;
  z-index: 1;
}

.content-container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  min-width: 1096px; /* Set the minimum width */
  margin: 0 auto;
}

.main-content {
  flex-grow: 1;
  padding: 0 20px;
}

.footer {
  position: fixed; /* Fix the footer to the bottom of the viewport */
  bottom: 0; /* Align to the bottom */
  left: 50%; /* Center align */
  transform: translateX(-50%); /* Adjust for center alignment */
  text-align: center;
  width: 100%; /* Ensure it takes full width */
  padding: 10px 0; /* Optional: Add padding for spacing */
}

.footer small {
  font-size: 12px;
  color: #666;
  font-weight: 100;
}

.app::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.app::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); /* Thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.app::-webkit-scrollbar-track {
  background: transparent; /* Track color */
}
