.app {
    display: flex;
    height: 97vh;
    width: 100%;

    &.sidebar-open {
        .main-content {
            margin-left: 20px;
            /* Main content shifts right when sidebar is open */
        }
    }

    &.sidebar-closed {
        .main-content {
            margin-left: 0;
            /* Main content takes full width when sidebar is closed */
        }
    }
}

.sidebar {
    width: 260px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #ffffff;
    overflow-y: auto;
    transition: margin-left 0.3s ease-in-out;
}