.home-page {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  overflow: hidden;
  color: #2c3e50;

  .background-image {
    position: absolute;
    top: -10px;
    right: -4px;
    box-shadow: 0 0 20px 20px white inset;
    height: 400px;
    width: auto;
    opacity: 0.5;
    z-index: 0;
  }
}

.header {
  top: 0;
  left: 0;
  padding: 25px 20px;
  width: 100%;
  height: 27.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  -webkit-user-select: none;
  user-select: none;

  &:before {
    content: "";
    background: url("../assets/images/left-quote.svg") no-repeat;
    background-size: 80px 80px;
    position: absolute;
    top: 30px;
    left: 20px;
    width: 80px;
    height: 80px;
    opacity: 0.15;
  }

  .title {
    font-size: 6em;
    font-weight: 400;
    margin: 0;
    padding: 20px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 70%;
    z-index: 1;
  }

  .eco-text {
    color: #39a265;
  }

  .eco-image {
    height: 1em;
    margin: -12px 20px;
    border-radius: 50%;
  }

  .try-button-container {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 55px;
    z-index: 1;
  }
}

.animated-text-container {
  width: calc(100% - 40px);
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.description-contact {
  display: flex;
  align-items: stretch;
  width: 100%;
  gap: 20px;
  bottom: 0;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  box-sizing: border-box;
  border-top: #2c3e50 solid 2px;

  .project-description,
  .contact-form {
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative; // Add position relative to parent
  }

  .project-description {
    flex: 3;

    h3 {
      position: absolute; // Position absolute for fixed position
      top: 20px; // Adjust the top value as needed
      left: 20px;
      margin: 0;
    }

    .description-text {
      font-size: 1em;
      color: #2c3e50;
      text-align: left;
      margin-top: 50px; // Adjust margin-top to provide space for h3
    }
  }

  .contact-form {
    flex: 1;

    h3 {
      position: absolute; // Position absolute for fixed position
      top: 20px; // Adjust the top value as needed
      left: 20px;
      margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-top: 50px; // Adjust margin-top to provide space for h3

      input,
      textarea {
        font-family: "Poppins", sans-serif;
        font-size: 0.8em;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: #39a265;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #2c774b;
        }
      }
    }
  }
}

.try-button {
  position: relative;
  padding: 10px 20px;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer;
  background: none;
  color: #2c3e50;
  border-radius: 15px;
  margin-top: 0;
  z-index: 1;
  text-decoration: none;
  display: flex;
  align-items: center;

  .enter-icon {
    margin-left: 10px;
  }

  &:before {
    content: none;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.devlink {
  color: #2c3e50;
  text-decoration: none;
  display: flex;
  align-items: center; // Ensure icon aligns properly with text

  border-radius: 10px;
  padding: 0 10px;

  &:hover {
    background-color: #f0f0f0;
  }

  .link-icon {
    height: 1em; // Adjust the height to match the text size
    width: 1em; // Ensure the icon is square
    margin-left: 8px;
    margin-bottom: 2px;
  }
}

