.insight-page {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: hsl(210, 17%, 98%);
  border-radius: 20px;
  overflow: hidden;
  color: #2c3e50;
}