.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2c3e50;
  padding: 10px 20px;
  margin: 20px 20px;
  width: calc(100% - 40px);
  height: 60px;
  box-sizing: border-box;

  h1 {
    margin: 0;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
    padding: 0 10px;
    -webkit-user-select: none;
    user-select: none;
  }

  .additional-info {
    margin-left: auto;
    font-size: 1em;
    color: #2c3e50;
    padding: 0 10px;
  }

  .right-section {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .help-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #2c3e50;

    &:hover {
      color: #39a265;
    }
  }
}
